<div class="container-fluid spacingHead">
    <div class="row ">
      <div class="col-md-8">
   
           <div class="row">
              
               <img class ='logo' src="https://www.shareicon.net/download/2017/02/09/878588_hand_512x512.png"> 
               <p class="h1">TRADING PLATFROM</p>
           </div></div>
           <div class="col-md-4">
               <div id='cssmenu'>
         <ul>  
            <li class='activee'>
              <a routerLink='/chart'>USD/LEK</a></li>
            <li><a routerLink='/chartEuLek'>EUR/LEK</a></li>
         </ul>
         </div>
       </div>
       
         </div>
         <!-- <div class="footer">Trading App, AngularJS, Spring Boot , Mongo.<strong>@ Shkurt 2017</strong>.</div> -->
       </div>


      
<router-outlet></router-outlet>